[[agent]].sources.[[topic]]_source.channels = [[topic]]_channel
[[agent]].sources.[[topic]]_source.type = org.apache.flume.source.kafka.KafkaSource
[[agent]].sources.[[topic]]_source.kafka.consumer.timeout.ms = 10000
[[agent]].sources.[[topic]]_source.kafka.bootstrap.servers = [[brokers]]
[[agent]].sources.[[topic]]_source.kafka.consumer.auto.offset.reset = latest
[[agent]].sources.[[topic]]_source.kafka.consumer.groud.id = [[kafkaGroupId]]
[[agent]].sources.[[topic]]_source.kafka.topics = [[topic]]
[[agent]].channels.[[topic]]_channel.type = file
[[agent]].channels.[[topic]]_channel.checkpointDir = /hadoop/flume/channels/[[topic]]/checkpoint
[[agent]].channels.[[topic]]_channel.dataDirs = /hadoop/flumne/channells/[[topic]]/data
[[agent]].channels.[[topic]]_channel.transactionCapacity = 10000
[[agent]].channels.[[topic]]_channel.capacity = 1000000
[[agent]].channels.[[topic]]_channel.maxFileSize = 134217728
[[agent]].sinks.[[topic]]_sink.channel = [[topic]]_channel
[[agent]].sinks.[[topic]]_sink.type = hdfs
[[agent]].sinks.[[topic]]_sink.hdfs.path = [[nameService]][[path]]
[[agent]].sinks.[[topic]]_sink.hdfs.filePrefix = [[filePrefix]]
[[agent]].sinks.[[topic]]_sink.hdfs.fileSuffix = [[fileSuffix]]
[[agent]].sinks.[[topic]]_sink.hdfs.inUsePrefix = _
[[agent]].sinks.[[topic]]_sink.hdfs.fileType = [[fileType]]
[[agent]].sinks.[[topic]]_sink.hdfs.rollSize = 1073741824
[[agent]].sinks.[[topic]]_sink.hdfs.rollInterval = [[tollInterval]]
[[agent]].sinks.[[topic]]_sink.hdfs.rollCount = 0
[[agent]].sinks.[[topic]]_sink.hdfs.batchSize = 100
[[agent]].sinks.[[topic]]_sink.hdfs.threadsPoolSize = 100
[[agent]].sinks.[[topic]]_sink.hdfs.writeFormat = Text
[[agent]].sinks.[[topic]]_sink.hdfs.codeC = [[codec]]
[[agent]].sinks.[[topic]]_sink.sink.serializer = text
[[agent]].sinks.[[topic]]_sink.sink.appendNewLine = false
